.elemento-com-borda {
    border:2px solid #fc0;
    padding:5px;
}

.cascata{
    background-color: black;   
}

#C1 {
    background-color: aqua;
}
#style-h1{

color:rgb(86, 10, 158); 
text-align:center; 
font-size:20rem;"

}